body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    background-color: rgb(38, 138, 133);
}

.calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: 550px;
    border-radius: 25px;
    background-color: rgb(39, 39, 39);
}

.screen {
    margin: 50px 20px 20px;
    width: 280px;
    height: 50px;
    background-color: rgb(175, 175, 175);
    border-radius: 5px;
    top: 20px;
    font-size: 48px;
    padding-right: 10px;
    text-align: right;
    overflow: hidden;
}

.keypad {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.clear,
.numkey,
.equal,
.operator {
    width: 60px;
    height: 50px;
    background-color: rgb(173, 82, 8);
    font-size: 48px;
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
    border: 0px;
    border-bottom: 10px;
    border-style: solid;
    border-color: rgb(121, 57, 5);
    border-radius: 10px;
    user-select: none;
}

.clear {
    display: block;
    align-self: flex-end;
    width: 100px;
    margin-bottom: 10px;
    margin-right: 30px;

}

.equal:active,
.clear:active,
.numkey:active,
.operator:active {
    border: 0px;
    transform: translateY(8px);
    
}

.clear:active {
    margin-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 10px;
}